<h1 id="<%=@artist.id%>"><%= @artist.name %></h1>

<p>Age: <%= @artist.age %></p>
<p>Bio: <%= @artist.bio %></p>

  <% @artist.photos.each do |photo| %>
  <p><%= image_tag photo.image %></p>
  <% end %>

 <h3>Songs</h3>

 <% if @artist.songs.any? %>
      <ul class="song-group">
        <% @artist.songs.each do |song| %>


             <li id="<%=song.id%>"><%= song.name %></li>
               <button onclick="deleteSong(<%=song.id%>)" id="<%=song.id%>" class="deleteButton">Delete Song</button>
             </li>




        <% end %>

      </ul>



   <% else %>

   <ul class="song-group">
   </ul>

<% end %>

<h3>Add a Song</h3>

<div class="form-group">
  <label for="add">Name</label>
  <input type="text" class="form-control" id="add">
  <input type="button" onclick="addSong()"id="addSong" value="Add Song">
</div>

<div class="delete-button">
  <button onclick="deleteAllSongs()"id="deleteAllSongs">Delete All Songs</button>
</div>
