<h1><%= @artist.name %></h1>

<p>Age: <%= @artist.age %></p>
<p>Bio: <%= @artist.bio %></p>

  <% @artist.photos.each do |photo| %>
  <p><%= image_tag photo.image %></p>
  <% end %>

 <h3>Songs</h3>

 <% if @artist.songs.any? %>
   <% @artist.songs.each do |song| %>

       <ul class="song-group">
             <li id="<%=song.id%>"><%= song.name %></li>
               <button onclick="deleteSong(<%=song.id%>)" id="<%=song.name%>">Delete Song</button>
             </li>
       </ul>

    <% end %>

   <% else %>
   <p>There are no songs listed.</p>
<% end %>
